label {
    display: block;
}

form{
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 10px;
    align-content: center;
    align-items: center;
}

input {
    width: 80%;
}


button {
    width: 50%;
    align-items: center;
}

