.App {
  text-align: center;
}


.icon {
  /* width: 80vmin;
  height: 60vmin; */
  /* -webkit-animation:spin 11s linear infinite;
    -moz-animation:spin 11s linear infinite;
    animation:spin 11s linear infinite; */
}

/* @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
 */

p {
  font-size: 40px;
  padding-bottom: 2%;
  padding-top: 3%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (min-width: 601px) {
  .icon {
    width: 80vmin;
    height: 60vmin;
    padding-bottom: 20px;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .icon {
    padding-bottom: 40px;
    width: 100vmin;
    height: 80vmin;
  }

}



