.App {
  text-align: center;
  
}


p {
  padding-right: 60%;
  padding-bottom: 10%;
  padding-top: 6%;
  color: black;
  font-family: monospace;
}
code {
  color: black;
}

.pics {
  width: fit-content;
}

.icon {
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@media screen and (min-width: 601px) {
  p {
    font-size: 40px;
  }

  p2 {
    font-size: 15px;
  }
  .icon {
    width: 10vmin;
    height: 10vmin;
    padding-bottom: 20px;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  p {
    font-size: 25px;
  }
  p2 {
    font-size: 10px;
  }
  .icon {
    padding-bottom: 40px;
    width: 5vmin;
    height: 5vmin;
  }

}



